{
  "log": {
    "_recordingName": "fetch-remote-offices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6b8c5f04a2237419eafd786f9c882482",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "refresh_token",
              "value": "1000.3b9a5d829d0857c6800fd81536a94f98.9582a664621b96a6709918ae345b65d9"
            },
            {
              "name": "client_id",
              "value": "1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE"
            },
            {
              "name": "client_secret",
              "value": "bc9e7047a979e700eb74b4813805c803cf9f571014"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ],
          "url": "https://accounts.zoho.com/oauth/v2/token?refresh_token=[REDACTED]&client_id=1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE&client_secret=[REDACTED]&grant_type=refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 169,
            "text": "{\"access_token\":\"1000.6db6cf2bf68b1fe2ad3b99493b651842.52d8792ca02bf78bea093f4ad1d83e10\",\"api_domain\":\"https://www.zohoapis.com\",\"token_type\":\"Bearer\",\"expires_in\":3600}"
          },
            {
              "name": "iamcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-language",
              "value": "en-US"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      },
      {
        "_id": "49b065ba9f323d513db9b1520d42a552",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/som/remoteoffice"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 724,
            "text": "{\"message_type\":\"remoteoffice\",\"message_response\":{\"total\":1,\"limit\":25,\"page\":1,\"remoteoffice\":[{\"updated_time\":\"--\",\"ds_status\":\"--\",\"is_https\":true,\"branch_office_name\":\"Default Remote Office\",\"agent_arc_loc\":\"\",\"compression_type\":0,\"replicationpolicydetails.policy_name\":\"DefaultReplicationPolicy(Unlimited data transfer rate and 10mins interval)\",\"branch_office_id\":52549000000183085,\"proxy_details_branch_office_id\":52549000000183085,\"resource_id_string\":\"--\",\"policytobranchofficerel.policy_id\":52549000000183081,\"agent_comm_branch_office_id\":52549000000183085,\"ds_dns_name\":\"--\",\"branch_office_desc\":\"--\",\"ds_version\":\"--\",\"policytobranchofficerel.branch_office_id\":52549000000183085,\"proxy_port_number\":80,\"last_contact_time\":\"--\",\"is_proxy\":false,\"colorquality_type\":16,\"ds_https_port\":\"--\",\"proxy_username\":\"\",\"has_masteragent\":false,\"managed_computers\":1,\"replicationpolicydetails.policy_id\":52549000000183081,\"error_code_kb_url\":\"--\",\"ds_sync_status\":\"--\",\"error_kb_url\":\"--\",\"ds_ipaddress\":\"--\",\"branch_office_customer_id\":52549000000166809,\"proxy_server_name\":\"\",\"resource_id\":\"--\",\"disserverdetails.branch_office_id\":\"--\",\"error_code\":\"--\",\"customer_name\":\"Geovanni Pacheco\",\"customer_id\":52549000000166809,\"resource_name\":\"--\",\"remarks\":\"--\"}]},\"message_version\":\"1.4\",\"status\":\"success\"}"
          },
            {
              "name": "dccookcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "be4b5a6e7f",
              "path": "/",
              "value": "[REDACTED]"
            },
            {
              "name": "dccookcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "JSESSIONID",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 458,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
