{
  "log": {
    "_recordingName": "fetch-patches",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "624f94b1ed80e62ef37775c2fe00976a",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "refresh_token",
              "value": "1000.3b9a5d829d0857c6800fd81536a94f98.9582a664621b96a6709918ae345b65d9"
            },
            {
              "name": "client_id",
              "value": "1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE"
            },
            {
              "name": "client_secret",
              "value": "bc9e7047a979e700eb74b4813805c803cf9f571014"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ],
          "url": "https://accounts.zoho.com/oauth/v2/token?refresh_token=[REDACTED]&client_id=1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE&client_secret=[REDACTED]&grant_type=refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 169,
            "text": "{\"access_token\":\"1000.83f04b8e59e5ab12579ec2a890eceb2b.13ddd9381c6bb1a9521a5b8c9cc7dc6d\",\"api_domain\":\"https://www.zohoapis.com\",\"token_type\":\"Bearer\",\"expires_in\":3600}"
          },
            {
              "name": "iamcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-language",
              "value": "en-US"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 651,
      },
      {
        "_id": "c042bfff527f2f36f752d44bbdbbac33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/patch/allpatches"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 2092,
            "text": "{\"message_type\":\"allpatches\",\"message_response\":{\"total\":1946,\"allpatches\":[{\"updated_time\":\"1695777991379\",\"installed\":\"0\",\"sqnumber\":\"5.16.1.23158\",\"description\":\"Zoom for MAC (Apple Silicon) 5.16.1.23158\",\"patch_status_label\":\"--\",\"supercededby\":\"NA\",\"status_id\":\"211\",\"platform_name\":\"Mac\",\"missing\":\"1\",\"first_name\":\"DC-SYSTEM-USER\",\"patchname\":\"Zoom.pkg\",\"patch_id\":\"605845\",\"patch_status_image\":\"--\",\"releasedtime\":\"1695719781000\",\"failed\":\"0\",\"i18n\":\"dc.common.MODERATE\",\"status_label\":\"dc.common.APPROVED\",\"bulletinid\":\"MAC-151\",\"size\":\"29030110\",\"name\":\"Moderate\",\"platform_id\":\"2\",\"uninstall_status\":\"0\",\"severityid\":\"2\",\"noreboot\":\"1\",\"updatename\":\"Third Party Updates\",\"status_image\":\"images/approved_icon.gif\"},{\"updated_time\":\"1695663272287\",\"installed\":\"0\",\"sqnumber\":\"0.72\",\"description\":\"Rectangle for Mac 0.72\",\"patch_status_label\":\"--\",\"supercededby\":\"NA\",\"status_id\":\"211\",\"platform_name\":\"Mac\",\"missing\":\"1\",\"first_name\":\"DC-SYSTEM-USER\",\"patchname\":\"Rectangle0.72.dmg\",\"patch_id\":\"605828\",\"patch_status_image\":\"--\",\"releasedtime\":\"1695631527000\",\"failed\":\"0\",\"i18n\":\"dc.common.MODERATE\",\"status_label\":\"dc[...]
