{
  "log": {
    "_recordingName": "fetch-patches",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "624f94b1ed80e62ef37775c2fe00976a",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "refresh_token",
              "value": "1000.9b9b2e3ea1967008dc0329d81a3aeeb3.ae333c7612e1a63c7bfe0ba353b1cd70"
            },
            {
              "name": "client_id",
              "value": "1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE"
            },
            {
              "name": "client_secret",
              "value": "bc9e7047a979e700eb74b4813805c803cf9f571014"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ],
          "url": "https://accounts.zoho.com/oauth/v2/token?refresh_token=[REDACTED]&client_id=1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE&client_secret=[REDACTED]&grant_type=refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 169,
            "text": "{\"access_token\":\"1000.e8c203df357652f3cd64528735f0e922.beca3ede569fb846761de1bdb634e861\",\"api_domain\":\"https://www.zohoapis.com\",\"token_type\":\"Bearer\",\"expires_in\":3600}"
          },
            {
              "name": "iamcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-language",
              "value": "en-US"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342,
      },
      {
        "_id": "49b065ba9f323d513db9b1520d42a552",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/som/remoteoffice"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 724,
            "text": "{\"message_type\":\"remoteoffice\",\"message_response\":{\"total\":1,\"limit\":25,\"page\":1,\"remoteoffice\":[{\"updated_time\":\"--\",\"ds_status\":\"--\",\"is_https\":true,\"branch_office_name\":\"Default Remote Office\",\"agent_arc_loc\":\"\",\"compression_type\":0,\"replicationpolicydetails.policy_name\":\"DefaultReplicationPolicy(Unlimited data transfer rate and 10mins interval)\",\"branch_office_id\":52549000000183085,\"proxy_details_branch_office_id\":52549000000183085,\"resource_id_string\":\"--\",\"policytobranchofficerel.policy_id\":52549000000183081,\"agent_comm_branch_office_id\":52549000000183085,\"ds_dns_name\":\"--\",\"branch_office_desc\":\"--\",\"ds_version\":\"--\",\"policytobranchofficerel.branch_office_id\":52549000000183085,\"proxy_port_number\":80,\"last_contact_time\":\"--\",\"is_proxy\":false,\"colorquality_type\":16,\"ds_https_port\":\"--\",\"proxy_username\":\"\",\"has_masteragent\":false,\"managed_computers\":3,\"replicationpolicydetails.policy_id\":52549000000183081,\"error_code_kb_url\":\"--\",\"ds_sync_status\":\"--\",\"error_kb_url\":\"--\",\"ds_ipaddress\":\"--\",\"branch_office_customer_id\":52549000000166809,\"proxy_server_name\":\"\",\"resource_id\":\"--\",\"disserverdetails.branch_office_id\":\"--\",\"error_code\":\"--\",\"customer_name\":\"Geovanni Pacheco\",\"customer_id\":52549000000166809,\"resource_name\":\"--\",\"remarks\":\"--\"}]},\"message_version\":\"1.4\",\"status\":\"success\"}"
          },
            {
              "name": "dccookcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "be4b5a6e7f",
              "path": "/",
              "value": "[REDACTED]"
            },
            {
              "name": "dccookcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "httpOnly": true,
              "name": "JSESSIONID",
              "path": "/",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 432,
      },
      {
        "_id": "c042bfff527f2f36f752d44bbdbbac33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/patch/allpatches"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 2392,
            "text": "{\"message_type\":\"allpatches\",\"message_response\":{\"total\":1913,\"allpatches\":[{\"updated_time\":\"1694195007535\",\"installed\":\"0\",\"sqnumber\":\"13.5.2\",\"patch_status_label\":\"--\",\"bulletin_id\":\"MAC-254\",\"patch_noreboot\":\"3\",\"update_name\":\"Security Updates\",\"platform\":\"2\",\"patch_released_time\":\"1694170412000\",\"patch_size\":\"728621\",\"status_id\":\"211\",\"patch_uninstall_status\":\"0\",\"platform_name\":\"Mac\",\"missing\":\"1\",\"download_status\":\"--\",\"first_name\":\"DC-SYSTEM-USER\",\"severity\":\"3\",\"patch_id\":\"605743\",\"patch_name\":\"InstallMacOSMinorUpdate.zip\",\"patch_description\":\"Mac OS - Ventura 13.5.2 (Software Update) - AutoReboot (CVE-2023-41064)\",\"patch_status_image\":\"--\",\"vendor_name\":\"Apple\",\"superceded_by\":\"NA\",\"severity_name\":\"dc.common.IMPORTANT\",\"failed\":\"0\",\"status_label\":\"dc.common.APPROVED\",\"status_image\":\"images/approved_icon.gif\"},{\"updated_time\":\"1694195007535\",\"installed\":\"0\",\"sqnumber\":\"1.82.0\",\"patch_status_label\":\"--\",\"bulletin_id\":\"MAC-144\",\"patch_noreboot\":\"1\",\"update_name\":\"Third Party Updates\",\"platform\":\"2\",\"patch_released_time\":\"1694170104000\",\"patch_size\":\"210720353\",\"status_id\":\"211\",\"patch_uninstall_status\":\"0\",\"platform_name\":\"Mac\",\"missing\":\"1\",\"download_status\":\"--\",\"first_name\":\"DC-SYSTEM-USER\",\"severity\":\"2\[...]
