{
  "log": {
    "_recordingName": "fetch-patches",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "624f94b1ed80e62ef37775c2fe00976a",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "refresh_token",
              "value": "[REDACTED]"
            },
            {
              "name": "client_id",
              "value": "[REDACTED]"
            },
            {
              "name": "client_secret",
              "value": "[REDACTED]"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ],
          "url": "https://accounts.zoho.com/oauth/v2/token?refresh_token=[REDACTED]&client_id=[REDACTED]&client_secret=[REDACTED]&grant_type=refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 169,
            "text": "{\"access_token\":\"[REDACTED]\",\"api_domain\":\"https://www.zohoapis.com\",\"token_type\":\"Bearer\",\"expires_in\":3600}"
          },
            {
              "name": "iamcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-language",
              "value": "en-US"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 643,
      },
      {
        "_id": "c042bfff527f2f36f752d44bbdbbac33",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/patch/allpatches"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 2216,
            "text": "{\"message_type\":\"allpatches\",\"message_response\":{\"total\":1946,\"allpatches\":[{\"updated_time\":\"1695893262999\",\"installed\":\"1\",\"sqnumber\":\"117.0.5938.132\",\"patch_status_label\":\"--\",\"bulletin_id\":\"MAC-012\",\"patch_noreboot\":\"1\",\"update_name\":\"Third Party Updates\",\"platform\":\"2\",\"patch_released_time\":\"1695877950000\",\"patch_size\":\"200933507\",\"status_id\":\"211\",\"patch_uninstall_status\":\"0\",\"platform_name\":\"Mac\",\"missing\":\"0\",\"download_status\":\"--\",\"first_name\":\"DC-SYSTEM-USER\",\"severity\":\"3\",\"patch_id\":\"605857\",\"patch_name\":\"googlechrome.dmg\",\"patch_description\":\"Google Chrome For Mac 117.0.5938.132\",\"patch_status_image\":\"--\",\"vendor_name\":\"Google\",\"superceded_by\":\"NA\",\"severity_name\":\"dc.common.IMPORTANT\",\"failed\":\"0\",\"status_label\":\"dc.common.APPROVED\",\"status_image\":\"images/approved_icon.gif\"},{\"updated_time\":\"1695835326907\",\"installed\":\"1\",\"sqnumber\":\"17.0\",\"patch_status_label\":\"--\",\"bulletin_id\":\"MAC-194\",\"patch_noreboot\":\"0\",\"update_name\":\"Third Party Updates\",\"platform\":\"2\",\"patch_released_time\":\"1695810956000\",\"patch_size\":\"37902\",\"status_id\":\"211\",\"patch_uninstall_status\":\"0\",\"platform_name\":\"Mac\",\"missing\":\"0\",\"download_status\":\"--\",\"first_name\":\"DC-SYSTEM-USER\",\"severity\":\"3\",\"pa[...]
