{
  "log": {
    "_recordingName": "relate-computer-to-patches",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e0c2999bd43325d53db8336121bbd548",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/som/computers"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 1720,
            "text": "{\"message_type\":\"computers\",\"message_response\":{\"total\":3,\"limit\":25,\"page\":1,\"computers\":[{\"modernappdetails.remarks\":\"--\",\"managedcomputer.remarks_args\":\"--\",\"resource_id_string\":\"52549000000186013\",\"computer.os_platform\":3,\"managedcomputer.agent_version\":\"--\",\"computer.service_pack\":\"--\",\"managedcomputer.agent_upgraded_on\":-1,\"managedcomputer.fqdn_name\":\"--\",\"computer.os_version\":\"--\",\"managedcomputer.full_name\":\"MY_COMPUTER\",\"osplatformtype.os_platform_name\":\"Linux\",\"managedcomputer.installation_status\":21,\"managedcomputer.previous_installation_status\":-1,\"agent_logged_on_users\":\"--\",\"livestatussettings.last_sync_time\":\"--\",\"status_label\":\"dc.db.som.status.yet_to_install\",\"error_kb_url\":\"--\",\"computer.os_name\":\"--\",\"managedcomputertoerrcode.operation_type\":\"--\",\"managedcomputer.agent_status\":0,\"resourcelivestatus.status_update_time\":1693601264963,\"modernappdetails.enrollment_type\":\"--\",\"managedcomputerextn.description\":\"--\",\"managedcomputerextn.location\":\"--\",\"managedcomputer.re_installation_status\":-1,\"agent_last_contact_time\":\"--\",\"domain_netbios_name\":\"linuxosgroup\",\"managedcomputer.agent_executed_on\":-1,\"managedcomputerextn.search_tag\":\"--\",\"managedcomputer.agent_uninstalled_on\":-1,\"mac_address\":\"--\",\"managedcomputer.agent_installed_on\":-1,\"managedcomputer.remarks\":\"\",\"osfamily.osflavor_id\":0,\"resourcelivestatus.status\":3,\"modernappdetails.last_contact_time\":\"--\",\"managedcomputer.friendly_name\":\"my_computer\",\"modernappdetails.installed_at\":\"--\",\"managedcomputertoerrcode.error_code\":\"--\",\"ip_address\":\"--\",\"managedcomputerextn.owner\":\"--\",\"managedcomputer.managed_status\":62,\"managedcomputerextn.owner_email_id\":\"--\",\"agent_last_bootup_time\":\"--\",\"resource_id\":52549000000186013,\"managedcomputer.friendly_name_type\":-1,\"customer_name\":\"Geovanni Pacheco\",\"modernappdetails.status\":\"--\",\"resource_name\":\"my_computer\",\"customer_id\":52549000000166809,\"branchofficedetails.branch_office_name\":\"Default Remote Office\"},{\"modernappdetails.remarks\":\"--\",\"managedcomputer.remarks_args\":\"--\",\"resource_id_string\":\"52549000000194001\",\"computer.os_platform\":3,\"managedcomputer.agent_version\":\"11.2.2315.16.L\",\"computer.service_pack\":\"Ubuntu 23.04 (Lunar Lobster)\",\"managedcomputer.agent_upgraded_on\":-1,\"managedcomputer.fqdn_name\":\"GEOVANNI-X570\",\"computer.os_version\":\"23.04\",\"managedcomputer.full_name\":\"GEOVANNI-X570\",\"osplatformtype.os_platform_name\":\"Lin[...]
