{
  "log": {
    "_recordingName": "relate-computer-to-patches",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e0c2999bd43325d53db8336121bbd548",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/som/computers"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 1612,
            "text": "{\"message_type\":\"computers\",\"message_response\":{\"total\":3,\"limit\":25,\"page\":1,\"computers\":[{\"modernappdetails.remarks\":\"--\",\"remarks_args\":\"--\",\"agent_installed_on\":-1,\"agent_executed_on\":-1,\"os_platform_name\":\"Linux\",\"resource_id_string\":\"52549000000186013\",\"service_pack\":\"--\",\"os_platform\":3,\"managedcomputer.previous_installation_status\":-1,\"agent_logged_on_users\":\"--\",\"osflavor_id\":0,\"search_tag\":\"--\",\"status_label\":\"dc.db.som.status.yet_to_install\",\"error_kb_url\":\"--\",\"full_name\":\"MY_COMPUTER\",\"owner_email_id\":\"--\",\"managedcomputertoerrcode.operation_type\":\"--\",\"agent_upgraded_on\":-1,\"installation_status\":21,\"error_code\":\"--\",\"managedcomputer.agent_status\":0,\"modernappdetails.enrollment_type\":\"--\",\"computer_status_update_time\":1693601264963,\"managed_status\":62,\"branch_office_name\":\"Default Remote Office\",\"managedcomputer.re_installation_status\":-1,\"agent_last_contact_time\":\"--\",\"description\":\"--\",\"domain_netbios_name\":\"linuxosgroup\",\"fqdn_name\":\"--\",\"mac_address\":\"--\",\"owner\":\"--\",\"modernappdetails.last_contact_time\":\"--\",\"managedcomputer.friendly_name\":\"my_computer\",\"os_version\":\"--\",\"last_sync_time\":\"--\",\"modernappdetails.installed_at\":\"--\",\"ip_address\":\"--\",\"agent_uninstalled_on\":-1,\"agent_version\":\"--\",\"agent_last_bootup_time\":\"--\",\"resource_id\":52549000000186013,\"os_name\":\"--\",\"location\":\"--\",\"managedcomputer.friendly_name_type\":-1,\"computer_live_status\":3,\"customer_name\":\"Geovanni Pacheco\",\"modernappdetails.status\":\"--\",\"resource_name\":\"my_computer\",\"customer_id\":52549000000166809,\"remarks\":\"\"},{\"modernappdetails.remarks\":\"--\",\"remarks_args\":\"--\",\"agent_installed_on\":1694135935518,\"agent_executed_on\":1695040804142,\"os_platform_name\":\"Linux\",\"resource_id_string\":\"52549000000194001\",\"service_pack\":\"Ubuntu 23.04 (Lunar Lobster)\",\"os_platform\":3,\"managedcomputer.previous_installation_status\":-1,\"agent_logged_on_users\":\"geovanni\",\"osflavor_id\":4,\"search_tag\":\"--\",\"status_label\":\"dc.db.som.status.installed_successfully\",\"error_kb_url\":\"--\",[...]
