{
  "log": {
    "_recordingName": "fetch-computers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "624f94b1ed80e62ef37775c2fe00976a",
        "request": {
          "headers": [
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "refresh_token",
              "value": "1000.3b9a5d829d0857c6800fd81536a94f98.9582a664621b96a6709918ae345b65d9"
            },
            {
              "name": "client_id",
              "value": "1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE"
            },
            {
              "name": "client_secret",
              "value": "bc9e7047a979e700eb74b4813805c803cf9f571014"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            }
          ],
          "url": "https://accounts.zoho.com/oauth/v2/token?refresh_token=[REDACTED]&client_id=1000.PZQWPNISGTM7BQQCB99IDIOZH0A3NE&client_secret=[REDACTED]&grant_type=refresh_token"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 169,
            "text": "{\"access_token\":\"1000.9c3c4faaff0a93ddfc3f116a727ef399.8b31e0282aee39328ad8421400ac967b\",\"api_domain\":\"https://www.zohoapis.com\",\"token_type\":\"Bearer\",\"expires_in\":3600}"
          },
            {
              "name": "iamcsr",
              "path": "/",
              "priority": "high",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            },
            {
              "name": "_zcsr_tmp",
              "path": "/",
              "priority": "high",
              "sameSite": "Strict",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "content-language",
              "value": "en-US"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 657,
      },
      {
        "_id": "e0c2999bd43325d53db8336121bbd548",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://endpointcentral.manageengine.com/api/1.4/som/computers"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=UTF-8",
            "size": 1720,
            "text": "{\"message_type\":\"computers\",\"message_response\":{\"total\":3,\"limit\":25,\"page\":1,\"computers\":[{\"modernappdetails.remarks\":\"--\",\"managedcomputer.remarks_args\":\"--\",\"resource_id_string\":\"52549000000186013\",\"computer.os_platform\":3,\"managedcomputer.agent_version\":\"--\",\"computer.service_pack\":\"--\",\"managedcomputer.agent_upgraded_on\":-1,\"managedcomputer.fqdn_name\":\"--\",\"computer.os_version\":\"--\",\"managedcomputer.full_name\":\"MY_COMPUTER\",\"osplatformtype.os_platform_name\":\"Linux\",\"managedcomputer.installation_status\":21,\"managedcomputer.previous_installation_status\":-1,\"agent_logged_on_users\":\"--\",\"livestatussettings.last_sync_time\":\"--\",\"status_label\":\"dc.db.som.status.yet_to_install\",\"error_kb_url\":\"--\",\"computer.os_name\":\"--\",\"managedcomputertoerrcode.operation_type\":\"--\",\"managedcomputer.agent_status\":0,\"resourcelivestatus.status_update_time\":1693601264963,\"modernappdetails.enrollment_type\":\"--\",\"managedcomputerextn.description\":\"--\",\"managedcomputerextn.location\":\"--\",\"managedcomputer.re_installation_status\":-1,\"agent_last_contact_time\":\"--\",\"domain_netbios_name\":\"linuxosgroup\",\"managedcomputer.agent_executed_on\":-1,\"managedcomputerextn.search_tag\":\"--\",\"managedcomputer.agent_uninstalled_on\":-1,\"mac_address\":\"--\",\"managedcomputer.agent_installed_on\":-1,\"managedcomputer.remarks\":\"\",\"osfamily.osflavor_id\":0,\"resourcelivestatus.status\":3,\"modernappdetails.last_contact_time\":\"--\",\"managedcomputer.friendly_name\":\"my_computer\",\"modernappdetails.installed_at\":\"--\",\"managedcomputertoerrcode.error_code\":\"--\",\"ip_address\":\"--\",\"managedcomputerextn.owner\":\"--\",\"managedcomputer.managed_status\":62,\"managedcomputerextn.owner_email_id\":\"--\",\"agent_last_bootup_time\":\"--\",\"resource_id\":52549000000186013,\"managedcomputer.friendly_name_type\":-1,\"customer_name\":\"Geovanni Pacheco\",\"modernappdetails.status\":\"--\",\"resource_name\":\"my_computer\",\"customer_id\":52549000000166809,\"branchofficedetails.branch_office_name\":\"Default Remote Office\"},{\"modernappdetails.remarks\":\"--\",\"managedcomputer.remarks_args\":\"--\",\"resource_id_string\":\"52549000000194001\",\"computer.os_platform\":3,\"managedcomputer.agent_version\":\"11.2.2315.16.L\",\"computer.service_pack\":\"Ubuntu 23.04 (Lunar Lobster)\",\"managedcomputer.agent_upgraded_on\":-1,\"managedcomputer.fqdn_name\":\"GEOVANNI-X570\",\"computer.os_version\":\"23.04\",\"managedcomputer.full_name\":\"GEOVANNI-X570\",\"osplatformtype.os_platform_name\":\"Lin[...]
